@{
  Layout = "_Layout";
}
@using Pierre.Models;
@using System.Collections.Generic;
@model List<Pierre.Models.Treat>;

<br>
<h4>Search Results</h4>
@if (Model.Count == 0)
{
  <p> No treats match this search </p>
}
else
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <li>@Html.ActionLink($"{treat.TreatName}", "Details", new { id = treat.TreatId }, new { @class = "linky"} )</li>
    }
  </ul>
}